OPENAI_API_KEY=
OPENAI_MODEL_MAIN=
OPENAI_MODEL_FAST=
OPENAI_EMBEDDING_MODEL=
TELEGRAM_BOT_TOKEN=
STUDIO_SECRET_KEY=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
REDIS_URL=
STUDIO_BASE_URL=
MEMOH_BASE_URL=
DOMAIN=memo.pb-web.ru
